<!DOCTYPE html>
<html>
<head>
	<title>Belajar Angular</title>
</head>
<body ng-app="aplikasiLatihan">
	<h1 style="text-align: center;">CRUD ANGULAR</h1>
<!-- 
	<div ng-controller="controllerBinding">
		Email Anda :<input type="text" ng-model="email"/>
		<button ng-click="tambahEmail()">Tambahkan</button>
		<br/>	
		<p>Hallo {{email}}</p>

		Daftar Email :
			<ul>	
				<li ng-repeat="e in daftarEmail">
					{{e}}
					<button ng-click="hapusEmail(e)">Hapus</button>
				</li>
			</ul>
	</div> -->


	<center><div style="text-align: center;" ng-controller="EmployeeController">
		<button class="btn" data-toggle="modal" data-target="#addEmployee">Tambah</button>
		<table border="1" class="table table-sm">
			<thead>
				<tr>
					<th>NIP</th>
					<th>NAME</th>
					<th>BIRTH DATE</th>
					<th>GENDER</th>
					<th>POSITION</th>
					<th>ACTION</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="e in dataEmployee">
					<td>{{e.id_NUMBER}}</td>
					<td>{{e.name}}</td>
					<td>{{e.birth_DATE}}</td>
					<td>{{e.gender}}</td>
					<td>{{e.position.name}}</td>
					<td class="text-center">
						<<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEdit">
  						Edit
						</button>
					
						<button onclick="return confirm('Yakin ingin dihapus?')" ng-click="hapusEmployee(e)">
							Hapus
						</button>
					</td>
				</tr>
			</tbody>
		</table>


		<table border="1">
			<tr>
				<td>Nip</td>
				<td>
					<input type="text" ng-model="employee.id_NUMBER" required="true">
				</td>
			</tr>

			<tr>
				<td>Nama</td>
				<td>
					<input type="text" ng-model="employee.name" required="true">
				</td>
			</tr>

			<tr>
				<td>Tanggal</td>
				<td>
					<input type="text" ng-model="employee.birth_DATE" required="true">
				</td>
			</tr>

			<tr>
				<td>Gender</td>
				<td>
					<input type="text" ng-model="employee.gender" required="true">
				</td>
			</tr>

			<tr>
				<td>Position</td>
				<td>
					<input type="text" ng-model="employee.position.id" required="true">
				</td>
			</tr>

			<tr>
				<td>&nbsp</td>
				<td>
					<button ng-click="simpanMateri()">Simpan</button>
				</td>
			</tr>
		</table>
	</div>
</center>


<!--  Awal Modal-->

<!-- Modal -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title elisa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!--  Akhir Modal-->

	<script th:src="@{/angular.min.js}"></script>
	<script th:src="@{/latihan.js}"></script>
	<script th:src="@{/jquery-3.1.1.min.js}"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>