<!DOCTYPE html>
<html lang="en">

    <head th:replace="layout::head"></head>
    <body class="sb-nav-fixed">
    
        <nav th:replace="layout::nav"></nav>  

        <div id="layoutSidenav">
        
        <div th:replace="layout::sidebar"></div>
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Tables Fakultas</h1>
                       
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                DataTable Example
                            </div>

							<div th:replace="layout::table" class="card-body"></div>

                        </div>
                    </div>
                </main>
                <footer th:replace="layout::footer"></footer>
            </div>
                            
        </div>
        <div th:replace="layout::js"></div>
    </body>
</html>
